@model STP.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Creation date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offices)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Country</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Number</th>
                    <th>Is headcuarters</th>
                </tr>
                @foreach (var item in Model.Offices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsHeadquarters)
                        </td>
                    </tr>
                }
            </table>
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>